
<div class="jumbotron">
  <div class="container">
    <p> lorep isum</p>
    <h1 class="titulo">Titulos</h1>
    <a href="http://en1mes.com" target="_blank" class="btn btn-default">
      En1Mes
      <span class="glyphicon glyphicon-eye-open" style=" color:green"></span>
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display:inline"> lorep isum</h2>
        <span class="label label-default">New</span>
      </div>

      <a href="http://en1mes.com">En1Mes</a>
      <a href="http://en1mes.com" target="_blank">En1Mes</a>
      <p>Lorem Ipsum is simply dummy text of
        the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</P>


    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Subtitulos</h2>
      </div>
      <p>Lorem Ipsum is simply dummy text of
        the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</P>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Sub sub subtitulo</h2>
      </div>
      <p>Lorem Ipsum is simply dummy text of
        the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</P>
      <div class="page-header">
        <h2>Sub ... Subtitulos</h2>
      </div>
      <p>Lorem Ipsum is simply dummy text of
        the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</P>
      <a href="https://www.acmilan.com/en">
        <img src="" >
      </a>
      <hr>
      <br>

      <img src="">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>
</div>
